/* Estilos para el contenedor principal */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilos para el logotipo */
img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el mensaje de bienvenida */
p {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

/* Estilos para el botón */
button {
    background-color: #0074cc;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

/* Estilos para el botón al pasar el cursor */
button:hover {
    background-color: #0059a6;
}
