/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal */
div {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Estilos para el logotipo */
img {
    max-width: 100px;
    height: auto;
    margin-top: 20px;
}

/* Estilos para el mensaje */
p {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

/* Estilos para los botones numéricos */
button {
    font-size: 24px;
    width: 60px;
    height: 60px;
    margin: 5px;
    background-color: #0074cc;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilos para los botones al pasar el cursor */
button:hover {
    background-color: #0059a6;
}

/* Estilos para los botones de acción */
button.cancelar {
    background-color: #ff0000;
}

button.continuar {
    background-color: #00cc00;
}
